# Mod 4 Project - Starter Notebook

This notebook has been provided to you so that you can make use of the following starter code to help with the trickier parts of preprocessing the Zillow dataset. 

The notebook contains a rough outline the general order you'll likely want to take in this project. You'll notice that most of the areas are left blank. This is so that it's more obvious exactly when you should make use of the starter code provided for preprocessing. 

**_NOTE:_** The number of empty cells are not meant to infer how much or how little code should be involved in any given step--we've just provided a few for your convenience. Add, delete, and change things around in this notebook as needed!

# Some Notes Before Starting

This project will be one of the more challenging projects you complete in this program. This is because working with Time Series data is a bit different than working with regular datasets. In order to make this a bit less frustrating and help you understand what you need to do (and when you need to do it), we'll quickly review the dataset formats that you'll encounter in this project. 

## Wide Format vs Long Format

If you take a look at the format of the data in `zillow_data.csv`, you'll notice that the actual Time Series values are stored as separate columns. Here's a sample: 

<img src='https://raw.githubusercontent.com/learn-co-students/dsc-mod-4-project-seattle-ds-102819/master/images/df_head.png'>

You'll notice that the first seven columns look like any other dataset you're used to working with. However, column 8 refers to the median housing sales values for April 1996, column 9 for May 1996, and so on. This This is called **_Wide Format_**, and it makes the dataframe intuitive and easy to read. However, there are problems with this format when it comes to actually learning from the data, because the data only makes sense if you know the name of the column that the data can be found it. Since column names are metadata, our algorithms will miss out on what dates each value is for. This means that before we pass this data to our ARIMA model, we'll need to reshape our dataset to **_Long Format_**. Reshaped into long format, the dataframe above would now look like:

<img src='https://raw.githubusercontent.com/learn-co-students/dsc-mod-4-project-seattle-ds-102819/master/images/melted1.png'>

There are now many more rows in this dataset--one for each unique time and zipcode combination in the data! Once our dataset is in this format, we'll be able to train an ARIMA model on it. The method used to convert from Wide to Long is `pd.melt()`, and it is common to refer to our dataset as 'melted' after the transition to denote that it is in long format. 

# Helper Functions Provided

Melting a dataset can be tricky if you've never done it before, so you'll see that we have provided a sample function, `melt_data()`, to help you with this step below. Also provided is:

* `get_datetimes()`, a function to deal with converting the column values for datetimes as a pandas series of datetime objects
* Some good parameters for matplotlib to help make your visualizations more readable. 

Good luck!


# Step 1: Load the Data/Filtering for Chosen Zipcodes

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("zillow_data.csv")

In [4]:
df

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14718,58333,1338,Ashfield,MA,Greenfield Town,Franklin,14719,94600.0,94300.0,94000.0,...,216800,217700,218600,218500,218100,216400,213100,209800,209200,209300
14719,59107,3293,Woodstock,NH,Claremont,Grafton,14720,92700.0,92500.0,92400.0,...,202100,208400,212200,215200,214300,213100,213700,218300,222700,225800
14720,75672,40404,Berea,KY,Richmond,Madison,14721,57100.0,57300.0,57500.0,...,121800,122800,124600,126700,128800,130600,131700,132500,133000,133400
14721,93733,81225,Mount Crested Butte,CO,NaN,Gunnison,14722,191100.0,192400.0,193700.0,...,662800,671200,682400,695600,695500,694700,706400,705300,681500,664400
14722,95851,89155,Mesquite,NV,Las Vegas,Clark,14723,176400.0,176300.0,176100.0,...,333800,336400,339700,343800,346800,348900,350400,353000,356000,357200

In [19]:
for col in df.columns:
    print(col, df[col].isna().sum())

RegionID 0
RegionName 0
City 0
State 0
Metro 1043
CountyName 0
SizeRank 0
1996-04 1039
1996-05 1039
1996-06 1039
1996-07 1039
1996-08 1039
1996-09 1039
1996-10 1039
1996-11 1039
1996-12 1039
1997-01 1039
1997-02 1039
1997-03 1039
1997-04 1039
1997-05 1039
1997-06 1039
1997-07 1038
1997-08 1038
1997-09 1038
1997-10 1038
1997-11 1038
1997-12 1038
1998-01 1036
1998-02 1036
1998-03 1036
1998-04 1036
1998-05 1036
1998-06 1036
1998-07 1036
1998-08 1036
1998-09 1036
1998-10 1036
1998-11 1036
1998-12 1036
1999-01 1036
1999-02 1036
1999-03 1036
1999-04 1036
1999-05 1036
1999-06 1036
1999-07 1036
1999-08 1036
1999-09 1036
1999-10 1036
1999-11 1036
1999-12 1036
2000-01 1036
2000-02 1036
2000-03 1036
2000-04 1036
2000-05 1036
2000-06 1036
2000-07 1036
2000-08 1036
2000-09 1036
2000-10 1036
2000-11 1036
2000-12 1036
2001-01 1036
2001-02 1036
2001-03 1036
2001-04 1036
2001-05 1036
2001-06 1036
2001-07 1036
2001-08 1036
2001-09 1036
2001-10 1036
2001-11 1036
2001-12 1036
2002-01 1036
2002-02 1036
2002-03 1036
2002-04 1036
2002-05 1036
2002-06 1036
2002-07 1036
2002-08 1036
2002-09 1036
2002-10 1036
2002-11 1036
2002-12 1036
2003-01 1036
2003-02 1036
2003-03 1036
2003-04 1036
2003-05 1036
2003-06 1036
2003-07 918
2003-08 918
2003-09 918
2003-10 918
2003-11 918
2003-12 918
2004-01 887
2004-02 887
2004-03 887
2004-04 887
2004-05 887
2004-06 887
2004-07 866
2004-08 866
2004-09 866
2004-10 866
2004-11 866
2004-12 866
2005-01 814
2005-02 814
2005-03 801
2005-04 801
2005-05 801
2005-06 801
2005-07 723
2005-08 723
2005-09 723
2005-10 723
2005-11 723
2005-12 723
2006-01 667
2006-02 667
2006-03 667
2006-04 667
2006-05 667
2006-06 667
2006-07 640
2006-08 640
2006-09 640
2006-10 640
2006-11 640
2006-12 640
2007-01 620
2007-02 620
2007-03 620
2007-04 620
2007-05 620
2007-06 620
2007-07 613
2007-08 613
2007-09 613
2007-10 613
2007-11 613
2007-12 613
2008-01 607
2008-02 607
2008-03 607
2008-04 607
2008-05 607
2008-06 607
2008-07 598
2008-08 598
2008-09 598
2008-10 598
2008-11 598
2008-12 598
2009-01 587
2009-02 587
2009-03 587
2009-04 587
2009-05 587
2009-06 587
2009-07 580
2009-08 580
2009-09 580
2009-10 580
2009-11 580
2009-12 580
2010-01 579
2010-02 579
2010-03 349
2010-04 349
2010-05 349
2010-06 349
2010-07 308
2010-08 308
2010-09 308
2010-10 308
2010-11 308
2010-12 308
2011-01 275
2011-02 275
2011-03 275
2011-04 275
2011-05 275
2011-06 275
2011-07 251
2011-08 251
2011-09 251
2011-10 251
2011-11 251
2011-12 251
2012-01 224
2012-02 224
2012-03 224
2012-04 224
2012-05 224
2012-06 224
2012-07 206
2012-08 206
2012-09 206
2012-10 206
2012-11 206
2012-12 206
2013-01 151
2013-02 151
2013-03 151
2013-04 151
2013-05 151
2013-06 151
2013-07 109
2013-08 109
2013-09 109
2013-10 109
2013-11 109
2013-12 109
2014-01 56
2014-02 56
2014-03 56
2014-04 56
2014-05 56
2014-06 56
2014-07 0
2014-08 0
2014-09 0
2014-10 0
2014-11 0
2014-12 0
2015-01 0
2015-02 0
2015-03 0
2015-04 0
2015-05 0
2015-06 0
2015-07 0
2015-08 0
2015-09 0
2015-10 0
2015-11 0
2015-12 0
2016-01 0
2016-02 0
2016-03 0
2016-04 0
2016-05 0
2016-06 0
2016-07 0
2016-08 0
2016-09 0
2016-10 0
2016-11 0
2016-12 0
2017-01 0
2017-02 0
2017-03 0
2017-04 0
2017-05 0
2017-06 0
2017-07 0
2017-08 0
2017-09 0
2017-10 0
2017-11 0
2017-12 0
2018-01 0
2018-02 0
2018-03 0
2018-04 0

In [120]:
df[df.iloc[:,220].isna()]

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
2946,73623,35810,Huntsville,AL,Huntsville,Madison,2947,NaN,NaN,NaN,...,61000,61000,61100,61900,62800,63200,63700,65200,67500,69400
3330,58630,2116,Boston,MA,Boston,Suffolk,3331,NaN,NaN,NaN,...,1931100,1995600,2031100,2049600,2057800,2064500,2037600,2056900,2106500,2136500
6153,73629,35816,Huntsville,AL,Huntsville,Madison,6154,NaN,NaN,NaN,...,61500,62500,62800,63300,64100,65100,66600,68700,70400,71300
7587,78091,46320,Hammond,IN,Chicago,Lake,7588,NaN,NaN,NaN,...,66000,67900,68200,68700,69600,69400,68500,68500,68200,67200
7635,78566,47371,Portland,IN,NaN,Jay,7636,NaN,NaN,NaN,...,86300,86600,87400,88200,89100,90300,90400,89100,88000,88100
8263,88723,70647,Iowa,LA,Lake Charles,Calcasieu,8264,NaN,NaN,NaN,...,111600,117900,125300,128900,129600,130800,132100,132700,132400,132300
8338,73630,35824,Huntsville,AL,Huntsville,Madison,8339,NaN,NaN,NaN,...,217200,216800,216300,215100,215700,218200,222000,226200,230300,231800
8668,75206,39202,Jackson,MS,Jackson,Hinds,8669,NaN,NaN,NaN,...,152700,154300,155800,157500,158100,158300,158400,157900,156600,155300
8746,90561,74857,Norman,OK,Oklahoma City,Cleveland,8747,NaN,NaN,NaN,...,141800,141800,141700,141700,142000,143600,145600,145700,143900,141900
8780,78097,46327,Hammond,IN,Chicago,Lake,8781,NaN,NaN,NaN,...,75200,74600,73200,72500,72800,73200,72700,72900,74000,74400
9054,73597,35759,Meridianville,AL,Huntsville,Madison,9055,NaN,NaN,NaN,...,164000,161800,159600,159300,160700,164000,168400,172600,175700,177100
9218,71997,32435,Defuniak Springs,FL,Crestview-Fort Walton Beach-Destin,Walton,9219,NaN,NaN,NaN,...,102100,102600,103600,103800,102700,102400,103300,104400,105700,106700
9594,76778,43619,Northwood,OH,Toledo,Wood,9595,NaN,NaN,NaN,...,98800,100200,101100,101800,102100,102500,102900,101400,98200,96300
9684,99311,97467,Reedsport,OR,Roseburg,Douglas,9685,NaN,NaN,NaN,...,156200,156200,156100,157400,158100,157700,158100,160200,163200,164800
9739,59298,4009,Bridgton,ME,Portland,Cumberland,9740,NaN,NaN,NaN,...,175600,177300,179000,179800,181900,183800,184800,185400,188500,192200
10373,87291,66739,Galena,KS,NaN,Cherokee,10374,NaN,NaN,NaN,...,46900,47000,46500,45800,45000,44300,43800,43800,43600,43400
10453,88587,70431,Bush,LA,New Orleans,Saint Tammany,10454,NaN,NaN,NaN,...,168000,171100,176300,180200,181600,179800,178700,181500,184800,183900
10599,73598,35760,New Hope,AL,Huntsville,Madison,10600,NaN,NaN,NaN,...,104900,105500,105100,102300,99500,99300,101500,104300,107000,108500
10781,75219,39216,Jackson,MS,Jackson,Hinds,10782,NaN,NaN,NaN,...,161200,163600,166700,169600,172000,172800,172400,170800,169000,167400
11073,79629,49245,Homer,MI,Battle Creek,Calhoun,11074,NaN,NaN,NaN,...,72900,73000,73200,74300,76800,80000,82300,83600,83800,83700
11391,81629,54230,Reedsville,WI,Manitowoc,Manitowoc,11392,NaN,NaN,NaN,...,138100,139600,142300,143400,139000,131400,128600,129600,128900,127100
11521,77878,45872,North Baltimore,OH,Toledo,Wood,11522,NaN,NaN,NaN,...,79800,78500,78300,78300,77200,76500,75700,75300,76200,77800
11523,82857,56441,Crosby,MN,Brainerd,Crow Wing,11524,NaN,NaN,NaN,...,100100,101800,103800,105200,105100,104200,102800,101700,101200,101300
11767,78635,47512,Bicknell,IN,Vincennes,Knox,11768,NaN,NaN,NaN,...,53300,54000,54400,54600,54900,54900,54600,53300,51400,50200
11772,67332,22625,Cross Junction,VA,Winchester,Frederick,11773,NaN,NaN,NaN,...,225800,229100,232000,234200,235600,237900,240400,241700,242800,243900
11888,64657,16625,Greenfield,PA,Altoona,Blair,11889,NaN,NaN,NaN,...,100400,100300,99200,98800,96800,93600,92600,92200,90600,89300
11905,69706,28088,Landis,NC,Charlotte,Rowan,11906,NaN,NaN,NaN,...,119400,120800,122200,123000,123200,122800,122300,122200,123300,124500
11922,79637,49253,Manitou Beach,MI,Adrian,Lenawee,11923,NaN,NaN,NaN,...,153500,154100,155100,156800,161300,165900,165700,163900,170300,179200
11969,89717,72718,Cave Springs,AR,Fayetteville,Benton,11970,NaN,NaN,NaN,...,251700,251300,250200,249200,248500,249800,252600,254600,255300,255900
11988,78538,47336,Dunkirk,IN,NaN,Jay,11989,NaN,NaN,NaN,...,80800,81200,81700,82900,84300,86200,86300,84000,82100,81800
12049,88638,70515,Basile,LA,NaN,Evangeline,12050,NaN,NaN,NaN,...,75000,75700,76000,75600,72400,68100,65700,65500,66700,68100
12187,76690,43450,Pemberville,OH,Toledo,Wood,12188,NaN,NaN,NaN,...,132400,132500,134300,135500,135600,135400,134600,133300,132400,132000
12193,87644,67544,Hoisington,KS,Great Bend,Barton,12194,NaN,NaN,NaN,...,57700,55600,54800,55700,55900,55700,55500,56900,58500,59100
12408,85788,62922,Creal Springs,IL,Carbondale,Williamson,12409,NaN,NaN,NaN,...,138100,141300,144600,146200,147700,148200,146900,145600,145500,145900
12673,77203,44491,West Farmington,OH,Youngstown,Trumbull,12674,NaN,NaN,NaN,...,122400,123600,124900,125900,126500,126700,127400,128200,130400,132500
12684,89991,73173,Oklahoma City,OK,Oklahoma City,Oklahoma,12685,NaN,NaN,NaN,...,286000,282000,280600,279700,278500,279000,283800,290600,296700,300800
12887,86745,65259,Huntsville,MO,Moberly,Randolph,12888,NaN,NaN,NaN,...,110600,112500,113200,111000,106900,104100,102800,102400,104100,106800
13078,81145,53015,Cleveland,WI,Manitowoc,Manitowoc,13079,NaN,NaN,NaN,...,159400,161800,166100,168100,163000,155500,154600,155300,152100,148800
13185,85340,62216,Aviston,IL,St. Louis,Clinton,13186,NaN,NaN,NaN,...,163300,162900,162500,162600,162200,161000,160500,160100,159600,159000
13348,85752,62882,Sandoval,IL,Centralia,Marion,13349,NaN,NaN,NaN,...,27900,27500,27300,27300,27700,28300,29000,29100,28900,28900
13368,99281,97435,Drain,OR,Roseburg,Douglas,13369,NaN,NaN,NaN,...,142200,145900,150000,153100,154400,154700,154500,156000,159400,161600
13573,80051,49950,Mohawk,MI,Houghton,Keweenaw,13574,NaN,NaN,NaN,...,114100,116500,117500,121500,127800,133200,135100,134200,133200,134200
13584,71553,31527,Brunswick,GA,Brunswick,Glynn,13585,NaN,NaN,NaN,...,394700,399200,400100,398800,400900,406400,413600,414200,425400,444700
13603,78567,47373,Redkey,IN,NaN,Jay,13604,NaN,NaN,NaN,...,81500,82600,83900,85100,86000,87700,87400,84500,82000,82000
13604,85741,62870,Odin,IL,Centralia,Marion,13605,NaN,NaN,NaN,...,33200,33100,33100,33100,33400,33400,33500,33400,33400,33500
13615,99337,97499,Yoncalla,OR,Roseburg,Douglas,13616,NaN,NaN,NaN,...,125900,127900,129200,131400,133900,135800,136900,137800,139900,142400
13811,88122,68730,Crofton,NE,NaN,Knox,13812,NaN,NaN,NaN,...,126400,129200,131000,132600,135000,137800,139300,141000,145100,149200
13820,76701,43466,Wayne,OH,Toledo,Wood,13821,NaN,NaN,NaN,...,79400,79200,79000,79300,79800,79300,77300,76500,78000,79900
14063,76685,43443,Luckey,OH,Toledo,Wood,14064,NaN,NaN,NaN,...,118700,119400,120600,121200,121100,121200,120700,120600,120800,121500
14157,76663,43406,Bradner,OH,Toledo,Wood,14158,NaN,NaN,NaN,...,72700,72100,71700,71400,70700,70600,70800,71300,71700,72600
14206,66105,19954,Houston,DE,Dover,Kent,14207,NaN,NaN,NaN,...,157000,156400,155700,154900,153200,152000,152500,153100,153200,153500
14207,85339,62215,Albers,IL,St. Louis,Clinton,14208,NaN,NaN,NaN,...,151300,147900,144500,143300,142900,142100,141400,141600,142100,141800
14267,79020,48157,Luna Pier,MI,Monroe,Monroe,14268,NaN,NaN,NaN,...,95700,96500,97000,95900,93400,92500,94200,95100,94000,93100
14341,79832,49636,Glen Arbor,MI,Traverse City,Leelanau,14342,NaN,NaN,NaN,...,580500,594300,610000,636300,677900,696300,675300,654500,652200,653400
14577,85489,62440,Lerna,IL,Charleston,Coles,14578,NaN,NaN,NaN,...,81500,83500,85200,86400,88000,89900,90800,90600,90800,90900
14707,69681,28039,East Spencer,NC,Charlotte,Rowan,14708,NaN,NaN,NaN,...,27300,26400,25500,25100,25100,25600,25800,26600,27700,28300

In [102]:
temp = df.isna().sum()>0
temp = temp.loc[temp].index
for t in temp:

Index(['Metro', '1996-04', '1996-05', '1996-06', '1996-07', '1996-08',
       '1996-09', '1996-10', '1996-11', '1996-12',
       ...
       '2013-09', '2013-10', '2013-11', '2013-12', '2014-01', '2014-02',
       '2014-03', '2014-04', '2014-05', '2014-06'],
      dtype='object', length=220)

In [103]:
df[df.Metro.isna()]

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
151,69340,27410,Greensboro,NC,NaN,Guilford,152,137100.0,136600.0,136000.0,...,212900,213200,213600,214300,215100,216200,217700,219600,221000,221500
167,69336,27406,Greensboro,NC,NaN,Guilford,168,80900.0,80700.0,80400.0,...,109700,107900,106700,107200,107900,108700,109500,110000,110700,111300
491,69270,27265,High Point,NC,NaN,Guilford,492,108000.0,107700.0,107400.0,...,159300,157400,156300,156600,156700,156600,156800,157000,157400,157800
526,69337,27407,Greensboro,NC,NaN,Guilford,527,93900.0,93700.0,93400.0,...,122000,120800,119800,119800,120300,121100,122200,123100,124000,124900
695,69335,27405,Greensboro,NC,NaN,Guilford,696,74100.0,73900.0,73800.0,...,91500,90200,89000,88700,88900,89700,91000,92100,93100,93700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14684,70215,28775,Scaly Mountain,NC,NaN,Macon,14685,71800.0,71900.0,72000.0,...,215900,215600,217400,219700,218900,215100,211400,213000,216500,216700
14694,99114,97149,Neskowin,OR,NaN,Tillamook,14695,187900.0,188900.0,189700.0,...,394800,399000,402900,408800,418900,428100,433000,431600,421600,413400
14710,59210,3812,Bartlett,NH,NaN,Carroll,14711,80900.0,80800.0,80800.0,...,215500,217000,219200,221700,223600,224800,226000,226900,227700,228000
14717,62697,12720,Bethel,NY,NaN,Sullivan,14718,62500.0,62600.0,62700.0,...,122200,122700,122300,122000,122200,122800,123200,123200,120700,117700
14721,93733,81225,Mount Crested Butte,CO,NaN,Gunnison,14722,191100.0,192400.0,193700.0,...,662800,671200,682400,695600,695500,694700,706400,705300,681500,664400

In [15]:
for col in df.columns:
    print(df[col].value_counts(dropna=False))

73724     1
70551     1
99221     1
76688     1
82829     1
         ..
71176     1
91654     1
65029     1
100380    1
98304     1
Name: RegionID, Length: 14723, dtype: int64
55324    1
74561    1
73538    1
31546    1
82070    1
        ..
75182    1
55343    1
1450     1
73129    1
65536    1
Name: RegionName, Length: 14723, dtype: int64
New York        114
Los Angeles      95
Houston          88
San Antonio      48
Washington       45
               ...
Mount Dora        1
Robertsville      1
Grottoes          1
Tullahoma         1
Palm City         1
Name: City, Length: 7554, dtype: int64
CA    1224
NY    1015
TX     989
PA     831
FL     785
OH     588
IL     547
NJ     502
MI     499
IN     428
NC     428
MA     417
TN     404
VA     401
MN     375
GA     345
WA     341
WI     332
MO     319
MD     317
CO     249
KS     241
AZ     230
OR     224
OK     221
SC     206
NH     199
LA     193
AL     183
IA     158
MS     153
KY     139
CT     124
UT     121
ID     110
AR     105
NV     103
ME      86
NE      83
WV      72
MT      71
HI      62
NM      60
RI      59
DE      41
ND      31
WY      31
AK      28
SD      19
DC      18
VT      16
Name: State, dtype: int64
NaN                               1043
New York                           779
Los Angeles-Long Beach-Anaheim     347
Chicago                            325
Philadelphia                       281
                                  ...
Emporia                              1
Gallup                               1
Uvalde                               1
Liberal                              1
Salina                               1
Name: Metro, Length: 702, dtype: int64
Los Angeles     264
Jefferson       175
Orange          166
Washington      164
Montgomery      159
               ...
Saint Landry      1
Terry             1
Wilbarger         1
Sequatchie        1
Cannon            1
Name: CountyName, Length: 1212, dtype: int64
2047     1
661      1
12947    1
8849     1
10896    1
        ..
3387     1
1338     1
7481     1
5432     1
2049     1
Name: SizeRank, Length: 14723, dtype: int64
NaN         1039
59800.0       22
79500.0       22
62000.0       19
76700.0       19
            ...
198200.0       1
339800.0       1
580900.0       1
347800.0       1
336800.0       1
Name: 1996-04, Length: 2720, dtype: int64
NaN         1039
69500.0       21
73700.0       21
74200.0       21
79600.0       20
            ...
306400.0       1
416100.0       1
561300.0       1
231700.0       1
359300.0       1
Name: 1996-05, Length: 2722, dtype: int64
NaN         1039
76700.0       22
68800.0       21
71100.0       21
51600.0       21
            ...
254900.0       1
416200.0       1
312300.0       1
562700.0       1
305700.0       1
Name: 1996-06, Length: 2745, dtype: int64
NaN         1039
87900.0       22
89100.0       21
77100.0       21
78000.0       21
            ...
178700.0       1
246100.0       1
230000.0       1
493500.0       1
319600.0       1
Name: 1996-07, Length: 2762, dtype: int64
NaN         1039
70500.0       22
87000.0       21
61000.0       20
69600.0       20
            ...
18500.0        1
269300.0       1
242000.0       1
187900.0       1
322200.0       1
Name: 1996-08, Length: 2702, dtype: int64
NaN         1039
52100.0       21
89900.0       21
52900.0       21
70900.0       21
            ...
19200.0        1
17600.0        1
215300.0       1
446200.0       1
257900.0       1
Name: 1996-09, Length: 2741, dtype: int64
NaN         1039
77000.0       22
53600.0       21
62800.0       21
94300.0       20
            ...
222700.0       1
338900.0       1
317200.0       1
233400.0       1
372700.0       1
Name: 1996-10, Length: 2734, dtype: int64
NaN         1039
88500.0       26
61800.0       23
77400.0       21
84600.0       21
            ...
751300.0       1
23800.0        1
422400.0       1
263400.0       1
40900.0        1
Name: 1996-11, Length: 2742, dtype: int64
NaN         1039
82300.0       22
83900.0       21
58600.0       21
90000.0       21
            ...
201500.0       1
314000.0       1
430700.0       1
254100.0       1
175700.0       1
Name: 1996-12, Length: 2736, dtype: int64
NaN         1039
84700.0       22
91200.0       22
87300.0       21
82900.0       21
            ...
360100.0       1
282200.0       1
297300.0       1
341500.0       1
34400.0        1
Name: 1997-01, Length: 2737, dtype: int64
NaN         1039
83900.0       23
82900.0       22
91300.0       22
66300.0       22
            ...
390300.0       1
253200.0       1
759700.0       1
269200.0       1
281000.0       1
Name: 1997-02, Length: 2741, dtype: int64
NaN         1039
89500.0       23
85100.0       21
82400.0       21
75500.0       20
            ...
293300.0       1
264300.0       1
237000.0       1
357600.0       1
297800.0       1
Name: 1997-03, Length: 2759, dtype: int64
NaN         1039
92000.0       23
89400.0       23
66700.0       20
84700.0       20
            ...
290300.0       1
511500.0       1
314900.0       1
323100.0       1
380900.0       1
Name: 1997-04, Length: 2752, dtype: int64
NaN         1039
58600.0       22
91500.0       22
69600.0       22
61700.0       20
            ...
280300.0       1
334400.0       1
256700.0       1
237300.0       1
324300.0       1
Name: 1997-05, Length: 2771, dtype: int64
NaN         1039
58900.0       22
69400.0       21
79400.0       20
89000.0       20
            ...
395800.0       1
289300.0       1
189700.0       1
311400.0       1
248700.0       1
Name: 1997-06, Length: 2773, dtype: int64
NaN         1038
90500.0       23
88300.0       23
80400.0       21
77600.0       21
            ...
440300.0       1
345400.0       1
306600.0       1
482900.0       1
370100.0       1
Name: 1997-07, Length: 2800, dtype: int64
NaN         1038
74600.0       23
82600.0       23
67500.0       20
71100.0       20
            ...
493400.0       1
263900.0       1
325900.0       1
347100.0       1
420400.0       1
Name: 1997-08, Length: 2787, dtype: int64
NaN         1038
71700.0       22
82800.0       22
96900.0       20
59300.0       19
            ...
526400.0       1
954700.0       1
291900.0       1
473200.0       1
17300.0        1
Name: 1997-09, Length: 2760, dtype: int64
NaN         1038
74600.0       22
96100.0       21
85800.0       21
87700.0       21
            ...
381200.0       1
26700.0        1
617700.0       1
197700.0       1
319600.0       1
Name: 1997-10, Length: 2795, dtype: int64
NaN         1038
89200.0       24
94700.0       22
71800.0       21
130200.0      21
            ...
692900.0       1
264200.0       1
28600.0        1
272700.0       1
493700.0       1
Name: 1997-11, Length: 2773, dtype: int64
NaN         1038
90600.0       22
71000.0       22
86000.0       21
89800.0       21
            ...
274300.0       1
390400.0       1
307100.0       1
336200.0       1
300300.0       1
Name: 1997-12, Length: 2796, dtype: int64
NaN         1036
83500.0       23
74000.0       21
87700.0       21
84000.0       21
            ...
242700.0       1
222300.0       1
255600.0       1
169600.0       1
215000.0       1
Name: 1998-01, Length: 2824, dtype: int64
NaN         1036
83100.0       23
83700.0       22
85300.0       21
93000.0       21
            ...
332900.0       1
256700.0       1
237300.0       1
272100.0       1
373100.0       1
Name: 1998-02, Length: 2831, dtype: int64
NaN         1036
85000.0       28
82600.0       25
78500.0       24
83300.0       22
            ...
312400.0       1
275000.0       1
403900.0       1
491200.0       1
22000.0        1
Name: 1998-03, Length: 2835, dtype: int64
NaN         1036
73000.0       24
86000.0       22
74100.0       21
81200.0       21
            ...
306800.0       1
27900.0        1
339700.0       1
261800.0       1
374100.0       1
Name: 1998-04, Length: 2861, dtype: int64
NaN          1036
85100.0        27
82800.0        25
84200.0        23
73300.0        21
             ...
577400.0        1
240100.0        1
1374500.0       1
280500.0        1
394400.0        1
Name: 1998-05, Length: 2863, dtype: int64
NaN         1036
83600.0       25
66800.0       23
86300.0       23
83800.0       21
            ...
391800.0       1
304900.0       1
33600.0        1
347200.0       1
341300.0       1
Name: 1998-06, Length: 2858, dtype: int64
NaN         1036
75700.0       27
76200.0       25
62800.0       23
74100.0       21
            ...
351800.0       1
242200.0       1
356700.0       1
173400.0       1
407800.0       1
Name: 1998-07, Length: 2888, dtype: int64
NaN         1036
94000.0       24
76200.0       22
86600.0       21
80500.0       21
            ...
309200.0       1
354500.0       1
429400.0       1
28300.0        1
275000.0       1
Name: 1998-08, Length: 2910, dtype: int64
NaN         1036
89900.0       23
87300.0       22
80500.0       22
80800.0       21
            ...
294400.0       1
414000.0       1
289800.0       1
327400.0       1
275300.0       1
Name: 1998-09, Length: 2913, dtype: int64
NaN         1036
88000.0       24
73600.0       24
68600.0       22
82400.0       22
            ...
270000.0       1
373300.0       1
874900.0       1
570100.0       1
390300.0       1
Name: 1998-10, Length: 2910, dtype: int64
NaN         1036
85300.0       22
72600.0       22
85500.0       21
77600.0       21
            ...
554500.0       1
453700.0       1
858000.0       1
171400.0       1
318000.0       1
Name: 1998-11, Length: 2904, dtype: int64
NaN         1036
63800.0       21
84700.0       21
90800.0       21
88800.0       20
            ...
169100.0       1
183200.0       1
285000.0       1
350900.0       1
496700.0       1
Name: 1998-12, Length: 2946, dtype: int64
NaN         1036
69400.0       24
69800.0       21
75900.0       20
75300.0       20
            ...
336200.0       1
239700.0       1
235500.0       1
824000.0       1
194500.0       1
Name: 1999-01, Length: 2955, dtype: int64
NaN         1036
86600.0       23
75400.0       23
91200.0       20
75900.0       19
            ...
309200.0       1
280500.0       1
332100.0       1
322000.0       1
459600.0       1
Name: 1999-02, Length: 2970, dtype: int64
NaN         1036
84600.0       25
118700.0      21
97600.0       21
75400.0       21
            ...
366600.0       1
407700.0       1
45500.0        1
420700.0       1
611300.0       1
Name: 1999-03, Length: 2994, dtype: int64
NaN          1036
90900.0        23
90600.0        22
80000.0        21
64700.0        20
             ...
214800.0        1
215000.0        1
438200.0        1
1004600.0       1
378400.0        1
Name: 1999-04, Length: 3011, dtype: int64
NaN         1036
84700.0       23
85300.0       21
118100.0      20
99500.0       19
            ...
306800.0       1
281000.0       1
420000.0       1
468900.0       1
249500.0       1
Name: 1999-05, Length: 3054, dtype: int64
NaN         1036
76400.0       23
111700.0      20
90100.0       19
91500.0       19
            ...
783200.0       1
224800.0       1
342600.0       1
958800.0       1
331700.0       1
Name: 1999-06, Length: 3048, dtype: int64
NaN         1036
85100.0       28
76600.0       23
78200.0       23
90000.0       23
            ...
249300.0       1
371900.0       1
37600.0        1
243300.0       1
943800.0       1
Name: 1999-07, Length: 3068, dtype: int64
NaN         1036
79600.0       21
86000.0       20
75600.0       20
83100.0       19
            ...
301700.0       1
664100.0       1
244100.0       1
860700.0       1
401800.0       1
Name: 1999-08, Length: 3063, dtype: int64
NaN         1036
85700.0       23
83700.0       23
85800.0       21
121100.0      20
            ...
313300.0       1
256800.0       1
304200.0       1
708500.0       1
294200.0       1
Name: 1999-09, Length: 3083, dtype: int64
NaN         1036
82900.0       21
86100.0       19
68300.0       19
84600.0       19
            ...
315300.0       1
565100.0       1
275200.0       1
227300.0       1
372700.0       1
Name: 1999-10, Length: 3101, dtype: int64
NaN         1036
78400.0       21
85200.0       20
87400.0       20
80100.0       20
            ...
203600.0       1
300700.0       1
807900.0       1
699700.0       1
364400.0       1
Name: 1999-11, Length: 3162, dtype: int64
NaN         1036
91500.0       20
84100.0       19
90300.0       19
93200.0       19
            ...
419800.0       1
320500.0       1
32100.0        1
282800.0       1
728900.0       1
Name: 1999-12, Length: 3154, dtype: int64
NaN         1036
76500.0       20
68900.0       19
77000.0       19
124300.0      19
            ...
307100.0       1
607800.0       1
27900.0        1
630600.0       1
909100.0       1
Name: 2000-01, Length: 3172, dtype: int64
NaN         1036
78600.0       23
89300.0       19
71700.0       19
68500.0       19
            ...
341000.0       1
344000.0       1
349100.0       1
583500.0       1
347300.0       1
Name: 2000-02, Length: 3192, dtype: int64
NaN         1036
91700.0       23
90700.0       20
91100.0       18
79300.0       18
            ...
297700.0       1
328000.0       1
30600.0        1
305900.0       1
620700.0       1
Name: 2000-03, Length: 3236, dtype: int64
NaN         1036
80800.0       20
92400.0       19
77200.0       19
76100.0       19
            ...
470100.0       1
434600.0       1
478300.0       1
457500.0       1
42800.0        1
Name: 2000-04, Length: 3251, dtype: int64
NaN         1036
83800.0       22
89000.0       20
78700.0       20
88600.0       18
            ...
26400.0        1
858500.0       1
302200.0       1
653300.0       1
696200.0       1
Name: 2000-05, Length: 3270, dtype: int64
NaN         1036
81200.0       22
125600.0      20
91300.0       20
90300.0       19
            ...
336800.0       1
421900.0       1
165900.0       1
438300.0       1
248900.0       1
Name: 2000-06, Length: 3289, dtype: int64
NaN         1036
84600.0       25
89000.0       19
93600.0       19
86500.0       19
            ...
863700.0       1
27100.0        1
255600.0       1
366300.0       1
202700.0       1
Name: 2000-07, Length: 3327, dtype: int64
NaN         1036
93800.0       19
75300.0       18
134200.0      18
121900.0      17
            ...
249000.0       1
355500.0       1
306000.0       1
272600.0       1
413700.0       1
Name: 2000-08, Length: 3353, dtype: int64
NaN          1036
83200.0        20
79700.0        18
82500.0        18
106200.0       17
             ...
335600.0        1
575200.0        1
330400.0        1
232200.0        1
1259500.0       1
Name: 2000-09, Length: 3356, dtype: int64
NaN         1036
69300.0       19
87600.0       19
72400.0       19
88200.0       18
            ...
247900.0       1
216200.0       1
381000.0       1
305300.0       1
420200.0       1
Name: 2000-10, Length: 3372, dtype: int64
NaN          1036
77700.0        20
89000.0        19
88100.0        19
95300.0        18
             ...
262500.0        1
42200.0         1
694500.0        1
498100.0        1
1736700.0       1
Name: 2000-11, Length: 3394, dtype: int64
NaN          1036
92100.0        21
84500.0        19
139400.0       18
91900.0        18
             ...
298700.0        1
397600.0        1
1063800.0       1
259000.0        1
471900.0        1
Name: 2000-12, Length: 3435, dtype: int64
NaN         1036
93700.0       19
90400.0       19
77100.0       18
135200.0      18
            ...
791800.0       1
693500.0       1
404100.0       1
618200.0       1
486900.0       1
Name: 2001-01, Length: 3462, dtype: int64
NaN         1036
88000.0       20
78100.0       19
84000.0       18
80400.0       18
            ...
234500.0       1
501800.0       1
214700.0       1
243500.0       1
380900.0       1

Name: 2001-02, Length: 3487, dtype: int64
NaN          1036
81300.0        19
82900.0        19
88600.0        18
150500.0       18
             ...
257900.0        1
1104800.0       1
275400.0        1
1454100.0       1
282500.0        1
Name: 2001-03, Length: 3488, dtype: int64
NaN         1036
95200.0       21
81000.0       19
89100.0       18
122200.0      18
            ...
234600.0       1
309400.0       1
289900.0       1
525000.0       1
416500.0       1
Name: 2001-04, Length: 3511, dtype: int64
NaN         1036
96500.0       20
95600.0       19
138700.0      18
109900.0      18
            ...
33300.0        1
370900.0       1
332800.0       1
246000.0       1
227300.0       1
Name: 2001-05, Length: 3530, dtype: int64
NaN          1036
92200.0        22
97300.0        19
77600.0        18
123400.0       17
             ...
406500.0        1
656900.0        1
398300.0        1
1636000.0       1
964800.0        1
Name: 2001-06, Length: 3528, dtype: int64
NaN         1036
101900.0      21
78400.0       18
92300.0       18
97100.0       17
            ...
189200.0       1
402000.0       1
805800.0       1
299400.0       1
597900.0       1
Name: 2001-07, Length: 3553, dtype: int64
NaN          1036
84200.0        17
83500.0        17
96400.0        17
71200.0        17
             ...
351000.0        1
1358600.0       1
298700.0        1
801700.0        1
282100.0        1
Name: 2001-08, Length: 3575, dtype: int64
NaN         1036
96800.0       18
112700.0      17
107700.0      17
126500.0      17
            ...
331800.0       1
405400.0       1
779700.0       1
763300.0       1
506700.0       1
Name: 2001-09, Length: 3626, dtype: int64
NaN         1036
84200.0       22
110600.0      18
102600.0      18
80600.0       17
            ...
288900.0       1
27600.0        1
325600.0       1
299100.0       1
367200.0       1
Name: 2001-10, Length: 3626, dtype: int64
NaN          1036
89500.0        18
128100.0       18
126500.0       17
80700.0        17
             ...
1500300.0       1
38400.0         1
238000.0        1
330300.0        1
414700.0        1
Name: 2001-11, Length: 3641, dtype: int64
NaN         1036
84300.0       19
94300.0       18
78200.0       18
99500.0       18
            ...
338000.0       1
300900.0       1
278400.0       1
233200.0       1
44900.0        1
Name: 2001-12, Length: 3704, dtype: int64
NaN         1036
84600.0       19
98000.0       19
78300.0       17
73100.0       17
            ...
429600.0       1
549100.0       1
331900.0       1
339000.0       1
409600.0       1
Name: 2002-01, Length: 3667, dtype: int64
NaN         1036
79700.0       19
112000.0      18
122500.0      17
125800.0      17
            ...
495000.0       1
299000.0       1
259400.0       1
281600.0       1
349600.0       1
Name: 2002-02, Length: 3678, dtype: int64
NaN          1036
98700.0        19
88000.0        17
91000.0        17
92700.0        16
             ...
1312300.0       1
265000.0        1
440300.0        1
272000.0        1
2021700.0       1
Name: 2002-03, Length: 3738, dtype: int64
NaN          1036
130300.0       20
78600.0        18
137800.0       16
92900.0        16
             ...
709900.0        1
1142700.0       1
439200.0        1
918600.0        1
413700.0        1
Name: 2002-04, Length: 3760, dtype: int64
NaN         1036
130400.0      18
128800.0      17
79000.0       17
82100.0       17
            ...
282300.0       1
290500.0       1
303000.0       1
327900.0       1
565100.0       1
Name: 2002-05, Length: 3781, dtype: int64
NaN          1036
87400.0        19
126700.0       19
126600.0       18
85800.0        16
             ...
381100.0        1
286300.0        1
1164000.0       1
253500.0        1
462800.0        1
Name: 2002-06, Length: 3804, dtype: int64
NaN         1036
76100.0       19
83000.0       18
133200.0      16
99400.0       16
            ...
530100.0       1
841400.0       1
270000.0       1
521500.0       1
272800.0       1
Name: 2002-07, Length: 3827, dtype: int64
NaN         1036
89900.0       17
78900.0       16
79700.0       16
109000.0      16
            ...
390400.0       1
347800.0       1
297900.0       1
628600.0       1
380500.0       1
Name: 2002-08, Length: 3808, dtype: int64
NaN         1036
111900.0      20
65100.0       19
98700.0       17
116600.0      16
            ...
566700.0       1
332500.0       1
404600.0       1
245300.0       1
636000.0       1
Name: 2002-09, Length: 3882, dtype: int64
NaN         1036
90100.0       20
124200.0      17
124300.0      16
132500.0      16
            ...
470700.0       1
357500.0       1
455800.0       1
349300.0       1
518400.0       1
Name: 2002-10, Length: 3901, dtype: int64
NaN          1036
135500.0       16
98600.0        16
112300.0       16
75700.0        15
             ...
299000.0        1
42100.0         1
522500.0        1
292600.0        1
1758800.0       1
Name: 2002-11, Length: 3917, dtype: int64
NaN          1036
125900.0       20
118100.0       18
147700.0       17
139600.0       16
             ...
515400.0        1
510800.0        1
712800.0        1
40700.0         1
1671400.0       1
Name: 2002-12, Length: 3925, dtype: int64
NaN         1036
85600.0       17
94700.0       17
83600.0       17
131500.0      16
            ...
313900.0       1
529500.0       1
335700.0       1
415900.0       1
985000.0       1
Name: 2003-01, Length: 3981, dtype: int64
NaN         1036
98200.0       19
81400.0       18
76000.0       17
108600.0      16
            ...
828100.0       1
255100.0       1
407900.0       1
370600.0       1
479000.0       1
Name: 2003-02, Length: 4017, dtype: int64
NaN          1036
93300.0        17
115900.0       17
134700.0       17
98200.0        16
             ...
331400.0        1
2192500.0       1
647200.0        1
446100.0        1
380900.0        1
Name: 2003-03, Length: 4030, dtype: int64
NaN         1036
94600.0       17
84900.0       17
142900.0      17
96400.0       17
            ...
36400.0        1
244700.0       1
308700.0       1
282300.0       1
307100.0       1
Name: 2003-04, Length: 4047, dtype: int64
NaN         1036
93500.0       16
81200.0       16
76100.0       15
73900.0       15
            ...
584500.0       1
36300.0        1
362900.0       1
185400.0       1
286700.0       1
Name: 2003-05, Length: 4063, dtype: int64
NaN         1036
94000.0       20
118200.0      18
82800.0       17
89000.0       17
            ...
37100.0        1
272500.0       1
189900.0       1
379000.0       1
495400.0       1
Name: 2003-06, Length: 4094, dtype: int64
NaN         918
89100.0      21
110100.0     19
119100.0     17
84800.0      15
           ...
300200.0      1
997600.0      1
485300.0      1
48500.0       1
712100.0      1
Name: 2003-07, Length: 4131, dtype: int64
NaN          918
90200.0       18
110800.0      18
123700.0      17
114400.0      17
            ...
371200.0       1
264200.0       1
1148400.0      1
493900.0       1
744700.0       1
Name: 2003-08, Length: 4149, dtype: int64
NaN         918
88200.0      18
73700.0      16
101500.0     15
132000.0     15
           ...
343800.0      1
414400.0      1
586000.0      1
271800.0      1
319600.0      1
Name: 2003-09, Length: 4180, dtype: int64
NaN         918
139700.0     17
110100.0     16
85400.0      16
79200.0      16
           ...
810100.0      1
188300.0      1
307200.0      1
384000.0      1
663100.0      1
Name: 2003-10, Length: 4203, dtype: int64
NaN          918
92500.0       17
111500.0      16
102100.0      16
139300.0      16
            ...
470600.0       1
520200.0       1
372300.0       1
313200.0       1
1392600.0      1
Name: 2003-11, Length: 4244, dtype: int64
NaN         918
95700.0      17
143600.0     16
127000.0     15
85800.0      15
           ...
370200.0      1
250900.0      1
34400.0       1
331300.0      1
880400.0      1
Name: 2003-12, Length: 4264, dtype: int64
NaN         887
96200.0      18
86800.0      17
85600.0      17
89600.0      16
           ...
499000.0      1
785000.0      1
354500.0      1
776600.0      1
47500.0       1
Name: 2004-01, Length: 4289, dtype: int64
NaN         887
131700.0     16
117800.0     16
91500.0      15
121200.0     15
           ...
449000.0      1
45800.0       1
589600.0      1
578100.0      1
496500.0      1
Name: 2004-02, Length: 4358, dtype: int64
NaN         887
137400.0     15
119200.0     15
85400.0      15
96100.0      15
           ...
420000.0      1
505100.0      1
646100.0      1
545100.0      1
196200.0      1
Name: 2004-03, Length: 4414, dtype: int64
NaN         887
82400.0      17
73400.0      15
158000.0     15
114900.0     15
           ...
311200.0      1
485800.0      1
429800.0      1
483500.0      1
559000.0      1
Name: 2004-04, Length: 4410, dtype: int64
NaN         887
89600.0      17
137400.0     16
92000.0      16
138400.0     16
           ...
646100.0      1
372200.0      1
263300.0      1
849900.0      1
307200.0      1
Name: 2004-05, Length: 4461, dtype: int64
NaN          887
90000.0       18
95200.0       17
96300.0       16
128500.0      16
            ...
199300.0       1
467600.0       1
895500.0       1
1037300.0      1
319600.0       1
Name: 2004-06, Length: 4478, dtype: int64
NaN         866
131300.0     17
154200.0     17
117800.0     16
147400.0     16
           ...
688600.0      1
693200.0      1
307300.0      1
299100.0      1
234600.0      1
Name: 2004-07, Length: 4510, dtype: int64
NaN         866
88500.0      18
92700.0      16
131600.0     15
111300.0     15
           ...
292000.0      1
661400.0      1
218600.0      1
289200.0      1
581100.0      1
Name: 2004-08, Length: 4579, dtype: int64
NaN         866
88200.0      17
83600.0      16
132800.0     16
93500.0      16
           ...
502900.0      1
529600.0      1
446200.0      1
483600.0      1
639200.0      1
Name: 2004-09, Length: 4604, dtype: int64
NaN         866
132100.0     18
90600.0      16
88400.0      16
141700.0     14
           ...
471100.0      1
534400.0      1
182300.0      1
462900.0      1
342400.0      1
Name: 2004-10, Length: 4657, dtype: int64
NaN         866
89100.0      17
135800.0     16
100800.0     15
91400.0      15
           ...
647500.0      1
372900.0      1
482300.0      1
256800.0      1
876200.0      1
Name: 2004-11, Length: 4718, dtype: int64
NaN          866
83000.0       16
95900.0       15
135300.0      14
137100.0      14
            ...
505500.0       1
1127700.0      1
511300.0       1
1603000.0      1
420200.0       1
Name: 2004-12, Length: 4735, dtype: int64
NaN         814
134700.0     18
138200.0     16
83200.0      15
104500.0     15
           ...
339700.0      1
482800.0      1
214900.0      1
468400.0      1
445800.0      1
Name: 2005-01, Length: 4737, dtype: int64
NaN         814
91400.0      17
136500.0     16
91300.0      15
134000.0     14
           ...
511200.0      1
370200.0      1
516000.0      1
242900.0      1
435600.0      1
Name: 2005-02, Length: 4818, dtype: int64
NaN          801
127800.0      17
89700.0       16
91600.0       15
128700.0      15
            ...
646000.0       1
449900.0       1
225300.0       1
4027600.0      1
490800.0       1
Name: 2005-03, Length: 4842, dtype: int64
NaN         801
91400.0      16
125100.0     15
146900.0     15
103400.0     14
           ...
727300.0      1
249400.0      1
299200.0      1
516400.0      1
424800.0      1
Name: 2005-04, Length: 4906, dtype: int64
NaN         801
130600.0     15
92100.0      15
101100.0     15
83200.0      14
           ...
206100.0      1
566900.0      1
982800.0      1
518100.0      1
560200.0      1
Name: 2005-05, Length: 4914, dtype: int64
NaN         801
134900.0     15
92900.0      15
90100.0      15
108500.0     14
           ...
581700.0      1
461000.0      1
778300.0      1
438300.0      1
481200.0      1
Name: 2005-06, Length: 4944, dtype: int64
NaN         723
129800.0     15
136000.0     14
84800.0      14
164500.0     13
           ...
584800.0      1
349000.0      1
346700.0      1
595100.0      1
452800.0      1
Name: 2005-07, Length: 4969, dtype: int64
NaN         723
85100.0      16
85300.0      15
151200.0     14
108600.0     14
           ...
993600.0      1
563300.0      1
204000.0      1
759900.0      1
816900.0      1
Name: 2005-08, Length: 5017, dtype: int64
NaN          723
151900.0      17
85400.0       14
128000.0      13
80200.0       13
            ...
827900.0       1
614900.0       1
597200.0       1
1917900.0      1
839200.0       1
Name: 2005-09, Length: 5090, dtype: int64
NaN          723
123300.0      18
182800.0      16
143900.0      15
88200.0       15
            ...
1430400.0      1
811100.0       1
696400.0       1
794700.0       1
942100.0       1
Name: 2005-10, Length: 5072, dtype: int64
NaN         723
88200.0      15
101700.0     15
137000.0     14
123800.0     13
           ...
454900.0      1
598500.0      1
438500.0      1
762300.0      1
679900.0      1
Name: 2005-11, Length: 5101, dtype: int64
NaN          723
124000.0      15
131500.0      15
83200.0       14
100400.0      14
            ...
404000.0       1
971600.0       1
1068700.0      1
1386600.0      1
329700.0       1
Name: 2005-12, Length: 5109, dtype: int64
NaN         667
86700.0      15
91400.0      14
86100.0      13
82500.0      13
           ...
413100.0      1
43000.0       1
433600.0      1
809800.0      1
639200.0      1
Name: 2006-01, Length: 5161, dtype: int64
NaN         667
123200.0     15
123900.0     15
98800.0      14
125100.0     14
           ...
358000.0      1
844300.0      1
266500.0      1
827900.0      1
914800.0      1
Name: 2006-02, Length: 5174, dtype: int64
NaN          667
150500.0      16
126600.0      15
154800.0      15
122300.0      15
            ...
701600.0       1
514900.0       1
1062800.0      1
427200.0       1
630700.0       1
Name: 2006-03, Length: 5192, dtype: int64
NaN         667
139200.0     16
105300.0     15
129000.0     14
107100.0     14
           ...
490600.0      1
585200.0      1
384500.0      1
780500.0      1
712700.0      1
Name: 2006-04, Length: 5193, dtype: int64
NaN         667
164700.0     13
178400.0     13
144900.0     13
78300.0      13
           ...
316700.0      1
709800.0      1
562300.0      1
94300.0       1
575000.0      1
Name: 2006-05, Length: 5186, dtype: int64
NaN          667
155500.0      15
91300.0       14
89800.0       13
122600.0      13
            ...
1189000.0      1
367000.0       1
596200.0       1
694500.0       1
372700.0       1
Name: 2006-06, Length: 5240, dtype: int64
NaN         640
127100.0     15
134100.0     13
94700.0      13
127600.0     13
           ...
76200.0       1
237600.0      1
448100.0      1
578700.0      1
42800.0       1
Name: 2006-07, Length: 5199, dtype: int64
NaN         640
91800.0      16
154800.0     14
96700.0      14
128200.0     14
           ...
179700.0      1
325700.0      1
420900.0      1
530500.0      1
471900.0      1
Name: 2006-08, Length: 5195, dtype: int64
NaN         640
123700.0     15
133100.0     14
136000.0     14
140600.0     14
           ...
611500.0      1
343400.0      1
241800.0      1
928500.0      1
745100.0      1
Name: 2006-09, Length: 5199, dtype: int64
NaN         640
133400.0     16
87500.0      15
80500.0      15
129200.0     14
           ...
322900.0      1
421200.0      1
993200.0      1
314700.0      1
612100.0      1

Name: 2006-10, Length: 5163, dtype: int64
NaN         640
131100.0     14
85600.0      14
129000.0     14
86500.0      13
           ...
682800.0      1
382500.0      1
782400.0      1
489000.0      1
319600.0      1
Name: 2006-11, Length: 5186, dtype: int64
NaN         640
132000.0     15
86800.0      15
140400.0     14
141500.0     13
           ...
470200.0      1
678600.0      1
243500.0      1
315100.0      1
268800.0      1
Name: 2006-12, Length: 5160, dtype: int64
NaN          620
93600.0       14
81100.0       14
130200.0      14
142400.0      13
            ...
809800.0       1
621000.0       1
898700.0       1
695100.0       1
1912900.0      1
Name: 2007-01, Length: 5143, dtype: int64
NaN         620
109500.0     15
123000.0     14
159800.0     13
101700.0     13
           ...
329400.0      1
762400.0      1
619100.0      1
922100.0      1
207300.0      1
Name: 2007-02, Length: 5172, dtype: int64
NaN         620
99500.0      14
160100.0     13
130400.0     13
110000.0     13
           ...
306600.0      1
236200.0      1
404900.0      1
251600.0      1
372700.0      1
Name: 2007-03, Length: 5174, dtype: int64
NaN         620
137100.0     16
143900.0     13
85700.0      13
109500.0     13
           ...
465200.0      1
548000.0      1
531700.0      1
303200.0      1
498700.0      1
Name: 2007-04, Length: 5161, dtype: int64
NaN         620
101200.0     14
164400.0     14
89500.0      14
131000.0     14
           ...
580500.0      1
437700.0      1
26600.0       1
799800.0      1
938400.0      1
Name: 2007-05, Length: 5128, dtype: int64
NaN         620
133600.0     14
137800.0     14
159900.0     14
93800.0      14
           ...
494100.0      1
515800.0      1
59800.0       1
373800.0      1
343400.0      1
Name: 2007-06, Length: 5124, dtype: int64
NaN         613
148400.0     13
132100.0     13
123400.0     13
154600.0     13
           ...
285500.0      1
537800.0      1
744200.0      1
266800.0      1
778200.0      1
Name: 2007-07, Length: 5118, dtype: int64
NaN          613
132500.0      18
118200.0      13
140000.0      13
76400.0       13
            ...
382200.0       1
471400.0       1
498600.0       1
713900.0       1
1266700.0      1
Name: 2007-08, Length: 5071, dtype: int64
NaN          613
127700.0      14
87400.0       13
99200.0       13
62500.0       13
            ...
486900.0       1
745500.0       1
522500.0       1
405500.0       1
1023900.0      1
Name: 2007-09, Length: 5050, dtype: int64
NaN          613
82800.0       15
170500.0      14
136600.0      14
102200.0      13
            ...
631200.0       1
1038000.0      1
584200.0       1
556400.0       1
329000.0       1
Name: 2007-10, Length: 5030, dtype: int64
NaN         613
136800.0     15
109000.0     15
135800.0     14
116400.0     13
           ...
345000.0      1
780800.0      1
437300.0      1
42500.0       1
49300.0       1
Name: 2007-11, Length: 5010, dtype: int64
NaN         613
124300.0     16
115200.0     14
140400.0     13
135300.0     13
           ...
611300.0      1
461300.0      1
824300.0      1
479600.0      1
405500.0      1
Name: 2007-12, Length: 5018, dtype: int64
NaN         607
136500.0     16
88600.0      15
139500.0     15
140100.0     14
           ...
522700.0      1
355900.0      1
376600.0      1
46700.0       1
392400.0      1
Name: 2008-01, Length: 4944, dtype: int64
NaN         607
140000.0     14
150700.0     14
145900.0     14
134500.0     13
           ...
930000.0      1
504200.0      1
424200.0      1
750100.0      1
402000.0      1
Name: 2008-02, Length: 4921, dtype: int64
NaN         607
85800.0      17
83800.0      16
138900.0     14
135500.0     13
           ...
376600.0      1
617400.0      1
597100.0      1
314400.0      1
150400.0      1
Name: 2008-03, Length: 4906, dtype: int64
NaN         607
128400.0     15
120100.0     14
92300.0      14
116500.0     14
           ...
534900.0      1
417000.0      1
725900.0      1
313800.0      1
505500.0      1
Name: 2008-04, Length: 4846, dtype: int64
NaN         607
100600.0     15
109700.0     14
147900.0     14
188000.0     14
           ...
563800.0      1
406400.0      1
646100.0      1
350800.0      1
639200.0      1
Name: 2008-05, Length: 4810, dtype: int64
NaN         607
122800.0     15
129400.0     14
137300.0     14
140500.0     13
           ...
471200.0      1
364700.0      1
482300.0      1
522000.0      1
454500.0      1
Name: 2008-06, Length: 4779, dtype: int64
NaN         598
138300.0     15
132400.0     14
136800.0     13
141100.0     13
           ...
342400.0      1
255100.0      1
411900.0      1
652100.0      1
702400.0      1
Name: 2008-07, Length: 4756, dtype: int64
NaN          598
141000.0      17
146500.0      16
148100.0      15
137200.0      15
            ...
362900.0       1
229800.0       1
462400.0       1
488300.0       1
1996300.0      1
Name: 2008-08, Length: 4722, dtype: int64
NaN         598
91700.0      15
122300.0     15
107200.0     15
85500.0      15
           ...
290600.0      1
319000.0      1
444700.0      1
699000.0      1
234700.0      1
Name: 2008-09, Length: 4712, dtype: int64
NaN         598
124100.0     17
133300.0     17
137100.0     16
85300.0      15
           ...
445400.0      1
924800.0      1
534300.0      1
502600.0      1
354600.0      1
Name: 2008-10, Length: 4674, dtype: int64
NaN         598
91500.0      16
110200.0     16
132700.0     14
173500.0     13
           ...
334900.0      1
662300.0      1
354600.0      1
380300.0      1
735400.0      1
Name: 2008-11, Length: 4609, dtype: int64
NaN          598
86300.0       17
120000.0      16
128100.0      14
132100.0      14
            ...
55600.0        1
436500.0       1
389400.0       1
1754200.0      1
51900.0        1
Name: 2008-12, Length: 4579, dtype: int64
NaN          587
132300.0      17
86900.0       13
131800.0      13
158500.0      13
            ...
404400.0       1
364000.0       1
294300.0       1
5988900.0      1
636200.0       1
Name: 2009-01, Length: 4545, dtype: int64
NaN         587
76200.0      21
83900.0      18
138900.0     17
112200.0     14
           ...
35500.0       1
478400.0      1
515800.0      1
645100.0      1
319600.0      1
Name: 2009-02, Length: 4532, dtype: int64
NaN         587
129100.0     15
130100.0     15
138200.0     14
86500.0      14
           ...
207300.0      1
403900.0      1
275000.0      1
469100.0      1
336200.0      1
Name: 2009-03, Length: 4538, dtype: int64
NaN         587
131700.0     18
84900.0      16
130100.0     16
155100.0     16
           ...
700300.0      1
669600.0      1
412500.0      1
642600.0      1
255900.0      1
Name: 2009-04, Length: 4493, dtype: int64
NaN         587
129200.0     15
134500.0     15
130600.0     15
145200.0     15
           ...
594700.0      1
688000.0      1
582400.0      1
709400.0      1
285700.0      1
Name: 2009-05, Length: 4472, dtype: int64
NaN          587
128700.0      18
151200.0      17
132500.0      16
133000.0      16
            ...
314200.0       1
249800.0       1
1136900.0      1
695800.0       1
653600.0       1
Name: 2009-06, Length: 4438, dtype: int64
NaN          580
108900.0      16
113900.0      16
160600.0      15
91700.0       15
            ...
694600.0       1
1290900.0      1
630000.0       1
453800.0       1
839200.0       1
Name: 2009-07, Length: 4429, dtype: int64
NaN          580
166000.0      17
118300.0      15
125800.0      15
144500.0      15
            ...
416800.0       1
202900.0       1
486800.0       1
909900.0       1
1143300.0      1
Name: 2009-08, Length: 4425, dtype: int64
NaN          580
114400.0      18
118100.0      16
107300.0      16
159300.0      15
            ...
653400.0       1
1745900.0      1
411900.0       1
945100.0       1
384000.0       1
Name: 2009-09, Length: 4388, dtype: int64
NaN         580
126700.0     19
77600.0      16
88600.0      16
137100.0     15
           ...
253600.0      1
490600.0      1
840300.0      1
698300.0      1
438600.0      1
Name: 2009-10, Length: 4390, dtype: int64
NaN          580
134700.0      17
112000.0      14
127800.0      14
92900.0       14
            ...
36300.0        1
362900.0       1
1255000.0      1
264600.0       1
794600.0       1
Name: 2009-11, Length: 4392, dtype: int64
NaN          580
136900.0      19
125100.0      18
86800.0       16
92300.0       15
            ...
581900.0       1
857600.0       1
169500.0       1
1131000.0      1
397300.0       1
Name: 2009-12, Length: 4394, dtype: int64
NaN         579
150400.0     17
105400.0     16
92500.0      15
116500.0     15
           ...
444900.0      1
682700.0      1
390500.0      1
666300.0      1
307200.0      1
Name: 2010-01, Length: 4393, dtype: int64
NaN         579
94100.0      16
107400.0     16
81500.0      16
150300.0     16
           ...
506500.0      1
197200.0      1
632600.0      1
298300.0      1
466500.0      1
Name: 2010-02, Length: 4383, dtype: int64
NaN         349
126300.0     18
101200.0     18
100400.0     17
84600.0      17
           ...
325000.0      1
531300.0      1
767700.0      1
547700.0      1
364500.0      1
Name: 2010-03, Length: 4422, dtype: int64
NaN         349
153800.0     17
108700.0     16
136200.0     15
135900.0     15
           ...
350300.0      1
562900.0      1
418000.0      1
224300.0      1
520100.0      1
Name: 2010-04, Length: 4416, dtype: int64
NaN         349
94700.0      17
164000.0     17
85400.0      15
127200.0     15
           ...
498600.0      1
37100.0       1
628300.0      1
374800.0      1
394400.0      1
Name: 2010-05, Length: 4346, dtype: int64
NaN         349
137100.0     16
101700.0     16
111500.0     16
91600.0      15
           ...
58700.0       1
469000.0      1
531100.0      1
427200.0      1
269300.0      1
Name: 2010-06, Length: 4389, dtype: int64
NaN          308
134600.0      21
109900.0      16
86500.0       15
116800.0      15
            ...
1287100.0      1
438200.0       1
403700.0       1
761700.0       1
282800.0       1
Name: 2010-07, Length: 4399, dtype: int64
NaN         308
89400.0      18
152100.0     16
93400.0      16
131400.0     16
           ...
372500.0      1
175900.0      1
329000.0      1
537200.0      1
792600.0      1
Name: 2010-08, Length: 4361, dtype: int64
NaN         308
148100.0     17
130600.0     16
82500.0      16
126900.0     15
           ...
516900.0      1
502100.0      1
570400.0      1
482000.0      1
485000.0      1
Name: 2010-09, Length: 4340, dtype: int64
NaN         308
128100.0     18
134700.0     18
117400.0     18
131000.0     17
           ...
271600.0      1
644700.0      1
238300.0      1
546400.0      1
676500.0      1
Name: 2010-10, Length: 4344, dtype: int64
NaN          308
128200.0      18
112600.0      17
117800.0      17
135200.0      17
            ...
1090900.0      1
780400.0       1
555800.0       1
632200.0       1
428200.0       1
Name: 2010-11, Length: 4329, dtype: int64
NaN          308
133000.0      20
128200.0      18
80300.0       18
130200.0      16
            ...
297100.0       1
1712700.0      1
539000.0       1
645900.0       1
694400.0       1
Name: 2010-12, Length: 4308, dtype: int64
NaN          275
80500.0       18
135100.0      17
80800.0       17
119100.0      16
            ...
49500.0        1
495100.0       1
298500.0       1
1095700.0      1
389100.0       1
Name: 2011-01, Length: 4296, dtype: int64
NaN         275
85600.0      17
118200.0     17
115100.0     17
84600.0      16
           ...
331100.0      1
38600.0       1
502500.0      1
595000.0      1
498700.0      1
Name: 2011-02, Length: 4293, dtype: int64

NaN         275
81600.0      20
127200.0     19
131600.0     16
87100.0      16
           ...
336800.0      1
503800.0      1
349800.0      1
389100.0      1
372700.0      1
Name: 2011-03, Length: 4274, dtype: int64
NaN         275
80700.0      20
116300.0     16
123800.0     16
127200.0     16
           ...
442400.0      1
476600.0      1
700000.0      1
390800.0      1
425200.0      1
Name: 2011-04, Length: 4268, dtype: int64
NaN         275
88500.0      20
118500.0     17
113700.0     16
113600.0     16
           ...
307200.0      1
449400.0      1
296000.0      1
45900.0       1
203300.0      1
Name: 2011-05, Length: 4240, dtype: int64
NaN         275
105400.0     18
96400.0      17
112300.0     16
134300.0     16
           ...
927500.0      1
308100.0      1
239300.0      1
873300.0      1
279000.0      1
Name: 2011-06, Length: 4256, dtype: int64
NaN          251
109800.0      17
105200.0      17
124700.0      16
128200.0      16
            ...
637500.0       1
617400.0       1
597100.0       1
1390800.0      1
379200.0       1
Name: 2011-07, Length: 4249, dtype: int64
NaN         251
115100.0     18
82400.0      17
74000.0      16
104100.0     15
           ...
562700.0      1
338700.0      1
481800.0      1
324600.0      1
270600.0      1
Name: 2011-08, Length: 4232, dtype: int64
NaN          251
81500.0       18
128300.0      17
134400.0      16
79900.0       16
            ...
630500.0       1
14400.0        1
617000.0       1
2246700.0      1
537800.0       1
Name: 2011-09, Length: 4218, dtype: int64
NaN         251
124600.0     20
82500.0      18
126700.0     17
95700.0      17
           ...
308500.0      1
709500.0      1
300300.0      1
347600.0      1
502300.0      1
Name: 2011-10, Length: 4226, dtype: int64
NaN         251
134200.0     17
75200.0      17
121500.0     16
128000.0     16
           ...
420300.0      1
432000.0      1
37500.0       1
666300.0      1
654200.0      1
Name: 2011-11, Length: 4222, dtype: int64
NaN          251
103300.0      17
88700.0       16
76900.0       16
112400.0      15
            ...
1389900.0      1
482100.0       1
538200.0       1
662200.0       1
266300.0       1
Name: 2011-12, Length: 4213, dtype: int64
NaN         224
77200.0      19
118500.0     19
101100.0     17
133600.0     17
           ...
303900.0      1
307100.0      1
351300.0      1
581400.0      1
284700.0      1
Name: 2012-01, Length: 4210, dtype: int64
NaN          224
103500.0      18
87100.0       17
149700.0      17
104100.0      16
            ...
1254700.0      1
574200.0       1
643600.0       1
384700.0       1
576000.0       1
Name: 2012-02, Length: 4212, dtype: int64
NaN          224
146200.0      17
150300.0      16
111500.0      16
124300.0      16
            ...
335400.0       1
1232000.0      1
389300.0       1
795000.0       1
269000.0       1
Name: 2012-03, Length: 4176, dtype: int64
NaN         224
89200.0      19
137500.0     17
123700.0     15
130400.0     15
           ...
51500.0       1
429500.0      1
604100.0      1
571000.0      1
461900.0      1
Name: 2012-04, Length: 4212, dtype: int64
NaN         224
129200.0     15
88800.0      15
126400.0     15
119900.0     15
           ...
542800.0      1
647000.0      1
745300.0      1
315300.0      1
581500.0      1
Name: 2012-05, Length: 4228, dtype: int64
NaN         224
78000.0      17
89600.0      17
120600.0     17
106300.0     16
           ...
364100.0      1
232700.0      1
47300.0       1
568400.0      1
429700.0      1
Name: 2012-06, Length: 4217, dtype: int64
NaN         206
125000.0     16
115500.0     16
70900.0      16
90000.0      16
           ...
350300.0      1
269900.0      1
513400.0      1
694500.0      1
298500.0      1
Name: 2012-07, Length: 4262, dtype: int64
NaN         206
95100.0      17
114100.0     16
120800.0     16
127600.0     16
           ...
588800.0      1
635800.0      1
204900.0      1
43600.0       1
242400.0      1
Name: 2012-08, Length: 4252, dtype: int64
NaN         206
125200.0     16
110900.0     16
110500.0     16
74400.0      16
           ...
263800.0      1
477000.0      1
415500.0      1
579900.0      1
547400.0      1
Name: 2012-09, Length: 4266, dtype: int64
NaN         206
72700.0      18
115200.0     18
75800.0      17
87900.0      16
           ...
415100.0      1
593400.0      1
509200.0      1
406900.0      1
251600.0      1
Name: 2012-10, Length: 4306, dtype: int64
NaN         206
87400.0      19
134700.0     19
86700.0      15
109100.0     15
           ...
746000.0      1
516700.0      1
298600.0      1
252000.0      1
51200.0       1
Name: 2012-11, Length: 4328, dtype: int64
NaN          206
131100.0      17
101900.0      16
132400.0      16
109400.0      16
            ...
239300.0       1
380300.0       1
354600.0       1
1076300.0      1
349800.0       1
Name: 2012-12, Length: 4297, dtype: int64
NaN          151
111900.0      20
83700.0       19
126700.0      18
96000.0       17
            ...
989500.0       1
1487500.0      1
399000.0       1
388700.0       1
191900.0       1
Name: 2013-01, Length: 4335, dtype: int64
NaN         151
112900.0     17
124400.0     16
84500.0      16
132500.0     16
           ...
849500.0      1
793300.0      1
16600.0       1
940400.0      1
535100.0      1
Name: 2013-02, Length: 4397, dtype: int64
NaN         151
78000.0      19
136300.0     17
105400.0     16
109500.0     16
           ...
320800.0      1
299100.0      1
273600.0      1
198700.0      1
336800.0      1
Name: 2013-03, Length: 4375, dtype: int64
NaN          151
133700.0      17
78600.0       17
78100.0       17
91700.0       16
            ...
391600.0       1
430800.0       1
270600.0       1
395700.0       1
7864300.0      1
Name: 2013-04, Length: 4395, dtype: int64
NaN         151
127400.0     16
134300.0     15
149200.0     15
83800.0      15
           ...
843400.0      1
315200.0      1
728700.0      1
255900.0      1
827300.0      1
Name: 2013-05, Length: 4427, dtype: int64
NaN         151
135700.0     17
90600.0      16
137200.0     16
131600.0     16
           ...
761300.0      1
957900.0      1
646600.0      1
15400.0       1
581500.0      1
Name: 2013-06, Length: 4426, dtype: int64
NaN         109
123500.0     17
119800.0     16
83800.0      16
80500.0      16
           ...
534900.0      1
512100.0      1
414900.0      1
270200.0      1
450200.0      1
Name: 2013-07, Length: 4474, dtype: int64
NaN          109
80500.0       17
123600.0      17
136900.0      16
107800.0      16
            ...
436700.0       1
1594200.0      1
1361200.0      1
394000.0       1
634600.0       1
Name: 2013-08, Length: 4500, dtype: int64
NaN          109
82500.0       17
138200.0      17
62400.0       16
114600.0      16
            ...
463000.0       1
214500.0       1
1951200.0      1
41900.0        1
356300.0       1
Name: 2013-09, Length: 4503, dtype: int64
NaN          109
137500.0      18
89800.0       17
84700.0       17
160100.0      16
            ...
1518000.0      1
665900.0       1
381800.0       1
382100.0       1
336800.0       1
Name: 2013-10, Length: 4554, dtype: int64
NaN         109
84500.0      22
124400.0     20
131000.0     15
115800.0     14
           ...
488100.0      1
571000.0      1
419000.0      1
511500.0      1
413700.0      1
Name: 2013-11, Length: 4531, dtype: int64
NaN          109
93000.0       18
161600.0      16
128100.0      16
139700.0      16
            ...
307700.0       1
1369400.0      1
45200.0        1
281500.0       1
661000.0       1
Name: 2013-12, Length: 4563, dtype: int64
NaN         56
125100.0    19
75700.0     18
115300.0    15
93200.0     15
            ..
338800.0     1
642900.0     1
335800.0     1
182300.0     1
910600.0     1
Name: 2014-01, Length: 4580, dtype: int64
NaN         56
140200.0    18
72400.0     16
116300.0    16
168700.0    15
            ..
482300.0     1
65500.0      1
598300.0     1
510900.0     1
372700.0     1
Name: 2014-02, Length: 4603, dtype: int64
NaN          56
144700.0     18
126900.0     17
92300.0      16
89400.0      15
             ..
57000.0       1
415400.0      1
265100.0      1
1038100.0     1
491800.0      1
Name: 2014-03, Length: 4618, dtype: int64
NaN         56
81900.0     16
116800.0    16
128100.0    15
90500.0     15
            ..
953200.0     1
745800.0     1
631100.0     1
614700.0     1
331700.0     1
Name: 2014-04, Length: 4609, dtype: int64
NaN         56
118800.0    17
80400.0     16
117700.0    16
128200.0    16
            ..
331200.0     1
388400.0     1
973400.0     1
662100.0     1
409600.0     1
Name: 2014-05, Length: 4619, dtype: int64
NaN          56
129500.0     18
143700.0     15
129900.0     15
127200.0     15
             ..
200900.0      1
781100.0      1
568100.0      1
656000.0      1
1482500.0     1
Name: 2014-06, Length: 4674, dtype: int64
131200    16
131100    16
133700    15
85400     15
110700    15
          ..
352600     1
426300     1
484400     1
490600     1
739700     1
Name: 2014-07, Length: 4645, dtype: int64
85700     20
71000     16
117000    15
120800    15
124100    15
          ..
318500     1
232700     1
360700     1
577000     1
409600     1
Name: 2014-08, Length: 4642, dtype: int64
141200     17
122600     16
83100      15
97800      15
83900      14
           ..
582200      1
363400      1
397500      1
2103200     1
57400       1
Name: 2014-09, Length: 4667, dtype: int64
132200    16
129100    16
90300     15
88200     15
141200    14
          ..
188800     1
412700     1
385400     1
475500     1
409600     1
Name: 2014-10, Length: 4675, dtype: int64
84000      18
126800     16
102900     16
123100     15
113000     14
           ..
377300      1
1180100     1
1483200     1
469300      1
29800       1
Name: 2014-11, Length: 4693, dtype: int64
129900    17
150500    16
106100    15
170400    15
84800     15
          ..
709200     1
43800      1
330500     1
906400     1
409600     1
Name: 2014-12, Length: 4702, dtype: int64
128400     17
142400     16
141400     15
118600     14
149700     14
           ..
325500      1
638400      1
3495800     1
324200      1
409600      1
Name: 2015-01, Length: 4700, dtype: int64
128600     17
167300     15
170700     15
137800     15
105400     15
           ..
1262800     1
440100      1
762600      1
246500      1
2288100     1
Name: 2015-02, Length: 4735, dtype: int64
158100    15
115600    15
138800    15
134800    14
116900    14
          ..
343100     1
507300     1
721800     1
326700     1
303100     1
Name: 2015-03, Length: 4740, dtype: int64
131500    16
151600    16
112200    15
108300    14
122400    14
          ..
33300      1
578800     1
829700     1
836100     1
409600     1
Name: 2015-04, Length: 4766, dtype: int64
125100    17
83800     16
155500    16
95200     15
123800    14
          ..
369200     1
975400     1
352800     1
315100     1
925700     1
Name: 2015-05, Length: 4781, dtype: int64
122600     16
135800     16
123400     15
132000     15
128600     14
           ..
637300      1
1176000     1
596500      1
477000      1
409600      1
Name: 2015-06, Length: 4778, dtype: int64
74300      17
140200     16
143100     16
125000     16
153600     15
           ..
1068400     1
802700      1
609800      1
756400      1
744600      1
Name: 2015-07, Length: 4821, dtype: int64
124900    15
128300    14
103800    14
124800    14
132100    14
          ..
256800     1
232100     1
863000     1
533800     1
188400     1
Name: 2015-08, Length: 4813, dtype: int64
153600    18
158500    17
134300    16
128500    15
125200    15
          ..
316000     1
192200     1
422500     1
396700     1
741300     1
Name: 2015-09, Length: 4846, dtype: int64
99400      16
160000     16
125400     15
124500     15
77000      14
           ..
306000      1
93000       1
1529000     1
805700      1
409600      1
Name: 2015-10, Length: 4862, dtype: int64
85300     16
125300    14
146400    14
125800    14
152500    14
          ..
615700     1
48400      1
504100     1
431400     1
409600     1
Name: 2015-11, Length: 4861, dtype: int64
119100    16
134400    15
135100    15
151700    14
116200    14
          ..
409900     1
365400     1
471900     1
906300     1
489200     1
Name: 2015-12, Length: 4879, dtype: int64
134900    16
153800    16
108000    15
117100    15
139000    14
          ..
487800     1
873300     1
712700     1
792600     1
739700     1
Name: 2016-01, Length: 4888, dtype: int64
129400    17
135700    15
122300    15
105100    14
146900    13
          ..
611100     1
226300     1
418200     1
811400     1
516100     1
Name: 2016-02, Length: 4900, dtype: int64
130000     18
115800     17
146500     15
118900     15
120500     14
           ..
369200      1
336400      1
682700      1
1245700     1
409600      1
Name: 2016-03, Length: 4913, dtype: int64
162100    15
87100     14
149500    14
123600    14
135300    14
          ..
385600     1
279100     1
638000     1
778800     1
819200     1
Name: 2016-04, Length: 4964, dtype: int64
124500    15
118000    15
97000     15
128300    15
85000     14
          ..
752400     1
640300     1
353000     1
246500     1
409600     1
Name: 2016-05, Length: 4981, dtype: int64
122300    17
143800    16
125800    16
120300    14
135000    14
          ..
362600     1
910000     1
377500     1
271000     1
409600     1
Name: 2016-06, Length: 4985, dtype: int64
133700     18
158200     15
131500     15
149100     14
114400     14
           ..
527800      1
1385000     1
461800      1
459300      1
739700      1
Name: 2016-07, Length: 5015, dtype: int64
110700     17
121900     16
93400      15
115600     15
142700     15
           ..
455900      1
1256200     1
382900      1
863000      1
1013900     1
Name: 2016-08, Length: 5007, dtype: int64
165200    15
133900    14
143900    14
143600    14
79300     14
          ..
462400     1
637300     1
410100     1
393700     1
409600     1
Name: 2016-09, Length: 5031, dtype: int64
88300      17
130800     17
143500     15
80700      14
100300     14
           ..
336200      1
891000      1
319800      1
1838100     1
532400      1

Name: 2016-10, Length: 5040, dtype: int64
162600    15
111400    15
181100    14
141500    14
129700    14
          ..
503800     1
634500     1
963700     1
627100     1
458700     1
Name: 2016-11, Length: 5052, dtype: int64
145600     14
145400     14
121400     14
129600     13
168600     13
           ..
418400      1
386800      1
2646600     1
630700      1
819200      1
Name: 2016-12, Length: 5079, dtype: int64
146100    16
169100    15
145400    14
122100    14
123700    14
          ..
437200     1
240600     1
300200     1
453600     1
409600     1
Name: 2017-01, Length: 5075, dtype: int64
129500     15
126300     14
125100     14
133300     14
85000      13
           ..
887500      1
1887500     1
283800      1
371700      1
616700      1
Name: 2017-02, Length: 5093, dtype: int64
156300     16
127300     15
150300     15
146500     14
115300     14
           ..
1082500     1
341300      1
339000      1
562000      1
1245300     1
Name: 2017-03, Length: 5135, dtype: int64
85600      16
115300     15
118300     15
133200     14
127400     13
           ..
49700       1
352800      1
1549700     1
442900      1
739700      1
Name: 2017-04, Length: 5099, dtype: int64
137600     15
171000     15
76800      14
157800     14
193700     14
           ..
619700      1
1004500     1
816300      1
306000      1
409600      1
Name: 2017-05, Length: 5175, dtype: int64
139200     16
86400      15
150400     15
72900      13
143900     13
           ..
1263000     1
587300      1
836100      1
320000      1
409600      1
Name: 2017-06, Length: 5202, dtype: int64
150300     14
174200     14
126900     14
192100     14
147600     14
           ..
494300      1
598600      1
1659000     1
385600      1
409600      1
Name: 2017-07, Length: 5138, dtype: int64
148800    15
137000    13
127800    13
132900    13
152000    13
          ..
719500     1
860600     1
344500     1
434600     1
819200     1
Name: 2017-08, Length: 5183, dtype: int64
156000     16
86900      15
156400     14
132800     13
110700     12
           ..
672100      1
1803400     1
549200      1
50900       1
409600      1
Name: 2017-09, Length: 5202, dtype: int64
171000     13
149800     13
174900     13
114600     13
161600     13
           ..
464000      1
1244300     1
251000      1
447600      1
303100      1
Name: 2017-10, Length: 5221, dtype: int64
120300    16
138800    13
78300     13
126900    13
199700    13
          ..
287400     1
572300     1
630600     1
271000     1
409600     1
Name: 2017-11, Length: 5266, dtype: int64
153100     15
139600     14
101400     13
147300     13
104200     12
           ..
49500       1
352600      1
246100      1
5661000     1
819200      1
Name: 2017-12, Length: 5248, dtype: int64
149900     16
146900     13
159600     13
131100     13
153600     13
           ..
488100      1
2769700     1
258600      1
2275600     1
598000      1
Name: 2018-01, Length: 5276, dtype: int64
188900     15
173600     15
181000     14
133100     14
158600     13
           ..
1711500     1
49500       1
352600      1
1783200     1
409600      1
Name: 2018-02, Length: 5303, dtype: int64
153200     15
157700     15
151000     14
83600      13
159400     13
           ..
562000      1
855100      1
406700      1
806500      1
1122300     1
Name: 2018-03, Length: 5332, dtype: int64
130200     14
93900      14
138400     13
116600     13
165000     13
           ..
455900      1
349400      1
430000      1
56900       1
1103900     1
Name: 2018-04, Length: 5310, dtype: int64

# Step 2: Data Preprocessing

In [ ]:
def get_datetimes(df):
    return pd.to_datetime(df.columns.values[1:], format='%Y-%m')

# Step 3: EDA and Visualization

In [ ]:
font = {'family' : 'normal',
        'weight' : 'bold',
        'size'   : 22}

matplotlib.rc('font', **font)

# NOTE: if you visualizations are too cluttered to read, try calling 'plt.gcf().autofmt_xdate()'!

# Step 4: Reshape from Wide to Long Format

In [2]:
def melt_data(df):
    melted = pd.melt(df, id_vars=['RegionName', 'City', 'State', 'Metro', 'CountyName'], var_name='time')
    melted['time'] = pd.to_datetime(melted['time'], infer_datetime_format=True)
    melted = melted.dropna(subset=['value'])
    return melted.groupby('time').aggregate({'value':'mean'})

In [11]:
df.columns

Index(['RegionID', 'RegionName', 'City', 'State', 'Metro', 'CountyName',
       'SizeRank', '1996-04', '1996-05', '1996-06',
       ...
       '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12',
       '2018-01', '2018-02', '2018-03', '2018-04'],
      dtype='object', length=272)

In [15]:
df.RegionID = df.RegionID.astype('str')

In [17]:
df.RegionID.dtype

dtype('O')

In [16]:
melted = melt_data(df)
melted

ValueError: ('Unknown string format:', 'RegionID')

# Step 5: ARIMA Modeling

# Step 6: Interpreting Results