# Mod 4 Project - Time Series Modeling - Zillow US Housing Prices

* Student name: John Cho
* Student pace: full time online
* Scheduled project review date/time: 
* Instructor name: Rafael Carrasco
* Blog post URL: 


### Project Question: What are the top 5 best zip codes for us to invest in?
## Data Import, Cleaning

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("zillow_data.csv")

# Preview data, columns, check for duplicates, null values
display(df.info(), df, f'Duplicated: {df.duplicated().sum()}')
print('Null Values:')
for col in df.columns:
    print(col, df[col].isna().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14723 entries, 0 to 14722
Columns: 272 entries, RegionID to 2018-04
dtypes: float64(219), int64(49), object(4)
memory usage: 30.6+ MB

None

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14718,58333,1338,Ashfield,MA,Greenfield Town,Franklin,14719,94600.0,94300.0,94000.0,...,216800,217700,218600,218500,218100,216400,213100,209800,209200,209300
14719,59107,3293,Woodstock,NH,Claremont,Grafton,14720,92700.0,92500.0,92400.0,...,202100,208400,212200,215200,214300,213100,213700,218300,222700,225800
14720,75672,40404,Berea,KY,Richmond,Madison,14721,57100.0,57300.0,57500.0,...,121800,122800,124600,126700,128800,130600,131700,132500,133000,133400
14721,93733,81225,Mount Crested Butte,CO,NaN,Gunnison,14722,191100.0,192400.0,193700.0,...,662800,671200,682400,695600,695500,694700,706400,705300,681500,664400
14722,95851,89155,Mesquite,NV,Las Vegas,Clark,14723,176400.0,176300.0,176100.0,...,333800,336400,339700,343800,346800,348900,350400,353000,356000,357200

'Duplicated: 0'

Null Values:
RegionID 0
RegionName 0
City 0
State 0
Metro 1043
CountyName 0
SizeRank 0
1996-04 1039
1996-05 1039
1996-06 1039
1996-07 1039
1996-08 1039
1996-09 1039
1996-10 1039
1996-11 1039
1996-12 1039
1997-01 1039
1997-02 1039
1997-03 1039
1997-04 1039
1997-05 1039
1997-06 1039
1997-07 1038
1997-08 1038
1997-09 1038
1997-10 1038
1997-11 1038
1997-12 1038
1998-01 1036
1998-02 1036
1998-03 1036
1998-04 1036
1998-05 1036
1998-06 1036
1998-07 1036
1998-08 1036
1998-09 1036
1998-10 1036
1998-11 1036
1998-12 1036
1999-01 1036
1999-02 1036
1999-03 1036
1999-04 1036
1999-05 1036
1999-06 1036
1999-07 1036
1999-08 1036
1999-09 1036
1999-10 1036
1999-11 1036
1999-12 1036
2000-01 1036
2000-02 1036
2000-03 1036
2000-04 1036
2000-05 1036
2000-06 1036
2000-07 1036
2000-08 1036
2000-09 1036
2000-10 1036
2000-11 1036
2000-12 1036
2001-01 1036
2001-02 1036
2001-03 1036
2001-04 1036
2001-05 1036
2001-06 1036
2001-07 1036
2001-08 1036
2001-09 1036
2001-10 1036
2001-11 1036
2001-12 1036
2002-01 1036
2002-02 1036
2002-03 1036
2002-04 1036
2002-05 1036
2002-06 1036
2002-07 1036
2002-08 1036
2002-09 1036
2002-10 1036
2002-11 1036
2002-12 1036
2003-01 1036
2003-02 1036
2003-03 1036
2003-04 1036
2003-05 1036
2003-06 1036
2003-07 918
2003-08 918
2003-09 918
2003-10 918
2003-11 918
2003-12 918
2004-01 887
2004-02 887
2004-03 887
2004-04 887
2004-05 887
2004-06 887
2004-07 866
2004-08 866
2004-09 866
2004-10 866
2004-11 866
2004-12 866
2005-01 814
2005-02 814
2005-03 801
2005-04 801
2005-05 801
2005-06 801
2005-07 723
2005-08 723
2005-09 723
2005-10 723
2005-11 723
2005-12 723
2006-01 667
2006-02 667
2006-03 667
2006-04 667
2006-05 667
2006-06 667
2006-07 640
2006-08 640
2006-09 640
2006-10 640
2006-11 640
2006-12 640
2007-01 620
2007-02 620
2007-03 620
2007-04 620
2007-05 620
2007-06 620
2007-07 613
2007-08 613
2007-09 613
2007-10 613
2007-11 613
2007-12 613
2008-01 607
2008-02 607
2008-03 607
2008-04 607
2008-05 607
2008-06 607
2008-07 598
2008-08 598
2008-09 598
2008-10 598
2008-11 598
2008-12 598
2009-01 587
2009-02 587
2009-03 587
2009-04 587
2009-05 587
2009-06 587
2009-07 580
2009-08 580
2009-09 580
2009-10 580
2009-11 580
2009-12 580
2010-01 579
2010-02 579
2010-03 349
2010-04 349
2010-05 349
2010-06 349
2010-07 308
2010-08 308
2010-09 308
2010-10 308
2010-11 308
2010-12 308
2011-01 275
2011-02 275
2011-03 275
2011-04 275
2011-05 275
2011-06 275
2011-07 251
2011-08 251
2011-09 251
2011-10 251
2011-11 251
2011-12 251
2012-01 224
2012-02 224
2012-03 224
2012-04 224
2012-05 224
2012-06 224
2012-07 206
2012-08 206
2012-09 206
2012-10 206
2012-11 206
2012-12 206
2013-01 151
2013-02 151
2013-03 151
2013-04 151
2013-05 151
2013-06 151
2013-07 109
2013-08 109
2013-09 109
2013-10 109
2013-11 109
2013-12 109
2014-01 56
2014-02 56
2014-03 56
2014-04 56
2014-05 56
2014-06 56
2014-07 0
2014-08 0
2014-09 0
2014-10 0
2014-11 0
2014-12 0
2015-01 0
2015-02 0
2015-03 0
2015-04 0
2015-05 0
2015-06 0
2015-07 0
2015-08 0
2015-09 0
2015-10 0
2015-11 0
2015-12 0
2016-01 0
2016-02 0
2016-03 0
2016-04 0
2016-05 0
2016-06 0
2016-07 0
2016-08 0
2016-09 0
2016-10 0
2016-11 0
2016-12 0
2017-01 0
2017-02 0
2017-03 0
2017-04 0
2017-05 0
2017-06 0
2017-07 0
2017-08 0
2017-09 0
2017-10 0
2017-11 0
2017-12 0
2018-01 0
2018-02 0
2018-03 0
2018-04 0

### Dealing With Null Values:
#### The `Metro` column appears to be the name of the 'Greater Metropolitan Area' for the specific zipcode. Filling them in with the `City` name would be fine but we can just drop this column because it is not needed for this project.
> In fact, this goes for every non-date column except for the zipcode. After some Googling we confirmed that `RegionName` is the correct zipcode column. We'll also append the city and state to the zipcode values.

In [5]:
df.columns

Index(['RegionID', 'RegionName', 'City', 'State', 'Metro', 'CountyName',
       'SizeRank', '1996-04', '1996-05', '1996-06',
       ...
       '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12',
       '2018-01', '2018-02', '2018-03', '2018-04'],
      dtype='object', length=272)

In [6]:
i = 0  #counter
for zip in df.RegionName:  #how to perform this properly using .map/apply, lambda in single line of code??
    #df.RegionName.iloc[i] = str(str(zip) + ' ' + df.City.iloc[i] + ', ' + df.State.iloc[i])
    df.iloc[i,1] = str(str(zip) + ' ' + df.iloc[i,2] + ', ' + df.iloc[i,3])
    i+=1
df.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,"60657 Chicago, IL",Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,"75070 McKinney, TX",McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,"77494 Katy, TX",Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,"60614 Chicago, IL",Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,"79936 El Paso, TX",El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500

In [7]:
# Dropping every non-date column except RegionName (rename to Zipcode)
df = df.drop(columns=['RegionID','City','State','Metro','CountyName','SizeRank'])
df = df.rename(columns={'RegionName' : 'Zipcode'})
df.head()

,Zipcode,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,1996-11,1996-12,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,"60657 Chicago, IL",334200.0,335400.0,336500.0,337600.0,338500.0,339500.0,340400.0,341300.0,342600.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,"75070 McKinney, TX",235700.0,236900.0,236700.0,235400.0,233300.0,230600.0,227300.0,223400.0,219600.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,"77494 Katy, TX",210400.0,212200.0,212200.0,210700.0,208300.0,205500.0,202500.0,199800.0,198300.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,"60614 Chicago, IL",498100.0,500900.0,503100.0,504600.0,505500.0,505700.0,505300.0,504200.0,503600.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,"79936 El Paso, TX",77300.0,77300.0,77300.0,77300.0,77400.0,77500.0,77600.0,77700.0,77700.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500

#### While observing the null values in the date columns, there appears to be decreasing 'null bunches' every 6 months, indicating certain zipcodes were missing data from earlier years. Let's confirm that by dropping all the nulls from the earliest year (1996).

In [8]:
# See if all nulls are removed after dropping every index row with null values from first date column only (1039 total)
df.dropna(subset=['1996-04']).isna().sum().sum()

0

### Great! Dropping all 1039 zipcodes would be one way of dealing with these null values. However, in case any of them are a 'top 5' candidate, that would be a bad idea. Let's instead *backfill* in these missing property values using the *next valid observation to fill gap.*

In [9]:
# Need to transpose dataframe (flip rows/columns) for fillna function then transpose back
df = df.T.fillna(method='bfill').T
df.isna().any().any()  #confirm no more nulls, we want False output

False

## That should be it for the cleaning portion! Let's take a final peek at our dataframe and move onto the 'EDA' notebook.

In [10]:
#saving our dataframes using pickle
import pickle
with open('df.pickle', 'wb') as f:
    pickle.dump(df, f, pickle.HIGHEST_PROTOCOL)
df

,Zipcode,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,1996-11,1996-12,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,"60657 Chicago, IL",334200,335400,336500,337600,338500,339500,340400,341300,342600,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,"75070 McKinney, TX",235700,236900,236700,235400,233300,230600,227300,223400,219600,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,"77494 Katy, TX",210400,212200,212200,210700,208300,205500,202500,199800,198300,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,"60614 Chicago, IL",498100,500900,503100,504600,505500,505700,505300,504200,503600,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,"79936 El Paso, TX",77300,77300,77300,77300,77400,77500,77600,77700,77700,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14718,"1338 Ashfield, MA",94600,94300,94000,93700,93400,93200,93000,92900,92700,...,216800,217700,218600,218500,218100,216400,213100,209800,209200,209300
14719,"3293 Woodstock, NH",92700,92500,92400,92200,92100,91900,91700,91300,90900,...,202100,208400,212200,215200,214300,213100,213700,218300,222700,225800
14720,"40404 Berea, KY",57100,57300,57500,57700,58000,58200,58400,58700,59100,...,121800,122800,124600,126700,128800,130600,131700,132500,133000,133400
14721,"81225 Mount Crested Butte, CO",191100,192400,193700,195000,196300,197700,199100,200700,202600,...,662800,671200,682400,695600,695500,694700,706400,705300,681500,664400
14722,"89155 Mesquite, NV",176400,176300,176100,176000,175900,175800,175800,176000,176200,...,333800,336400,339700,343800,346800,348900,350400,353000,356000,357200